<a href="https://colab.research.google.com/github/ajithajith72389/Python_Course/blob/main/Python_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Terms

Python Terms
1. Object
2. Variable
3. Function
4. Class
5. Method
6. Attribute

**Object: The Data Records**

In data analytics, an object is like a spreadsheet. Each record can have multiple fields, such as job title, location, salary

**Object** : A data record with fields; an instance of a class.

In [ ]:
90000 # this is an object

90000

In [ ]:
"Data Analytics" # this is an object

'Data Analytics'

Python is object-oriented, so even datatypes are object.

In [ ]:
type("Data Analytics")  # this shows that this is an instance of the class  'str'

str

In [ ]:
str # technically, this is an object too! as it's an instance of the class 'type'

str

In [ ]:
type(str)

type

Functions are also objects in python

In [ ]:
print()

In [ ]:
type(print)

builtin_function_or_method

**Variable: The reference to object**

-- A defined name that refences an object

In [ ]:
job_title = "Data Analytics"
job_location = "San Francisco"
job_salary = 90000
my_print_function = print

In [ ]:
my_print_function(job_title, job_location, job_salary)

Data Analytics San Francisco 90000

In [ ]:
# Each variable has a unique identifier
id(job_title), id(job_location), id(job_salary)

(134523277411056, 134523277423792, 134523618139344)

Variable that refence the same object are...the same

In [ ]:
my_job = job_title
my_job

'Data Analytics'

In [ ]:
# the id of the same object is same
id(my_job), id(job_title)

(134523277411056, 134523277411056)

In [ ]:
# the id of the same object is same
job_title1 = "Data Science"
job_title2 = "Data Science"
id(job_title1), id(job_title2)

(134523277426160, 134523277417136)

**Functions: The manipulator of objects**

-- A resuable piece of code that performs a specific task.

In [ ]:
# provide functions argumentd to print in parenthesis
print("Welcome to Python")

Welcome to Python

In [ ]:
def print_welcome():
    return ("Welcome to Python")

In [ ]:
print_welcome()

'Welcome to Python'

In [ ]:
def display_info(title, location, salary):
    print(f"Job Title: {title}")
    print(f"Job Location: {location}")
    print(f"Job Salary: ${salary:,.2f}")

In [ ]:
display_info(job_title, job_location, job_salary)

Job Title: Data Analytics
Job Location: San Francisco
Job Salary: $90,000.00

**Class: A template for creating objects**

In [ ]:
class Job_post:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

  def display_info(self):
    print(f"Job Title   : {self.title}")
    print(f"Job Location: {self.location}")
    print(f"Job Salary  : ${self.salary:,.2f}")

In [ ]:
Job_post

__main__.Job_post

**Attribute: A field in a record, defined by its class**

In [ ]:
job = Job_post("Data Analytics", "San Francisco", 90000)

In [ ]:
job.title

'Data Analytics'

In [ ]:
job.salary

90000

**Method: The function of an object**

-- A function defined inside a class that operates on its object.

In [ ]:
job = Job_post("Data Analytics", "San Francisco", 90000)
job.display_info()

Job Title   : Data Analytics
Job Location: San Francisco
Job Salary  : $90,000.00

# New Section